*{
    padding: 0;
    margin: 0;
    font: 0.75em Verdana,Dotum,AppleGothic,sans-serif;
}
ul{
    list-style-type: none;
}
a{
    text-decoration: none;
    color: black;
}


/* @@@ @@@ @@@ header @@@ @@@ @@@ */
#header{
    width: 100%;
    height: 240px;
    margin: 0 auto;
}

#header_top{
    /* 헤더의 로고와 버튼이 들어가는 공간 header_top */
    width: 100%;
    width: 1200px;
    height: 150px;
    margin: 0 auto;
    position: relative;
}


/* #header_top의 로고와 버튼 */
#header_logo{
    position: absolute;
    left: 50%;
    transform: translate(-90px);
    bottom: 20px;
    width: 180px;
    height: 70px;
    margin: 0 auto;
}
#header_logo a img{
    height: 100%;
}

ul#header_btn{
    position: absolute;
    right: 50px;
    bottom: 20px;
    float: right;
    list-style-type: none;
}
#header_btn li{
    float: left;
    width: 30px;
    height: 30px;
    box-sizing: border-box;
    cursor: pointer;
}
li#search_btn_wrapper{
    position: relative;
    right: 5px;
}
li#search_btn_wrapper .search_circle{
    position: absolute;
    left: 4px;
    top: 4px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 2px solid #505050;
}
li#search_btn_wrapper .line{
    position: absolute;
    right: 6px;
    bottom: 6px;
    width: 7px;
    height: 2px;
    transform: rotate(45deg);
    background-color: #505050;
}
/* li#menu_btn-wrapper{} */
li#menu_btn_wrapper .line{
    position: relative;
    left: 6px;
    top: 7px;
    background-color: #505050;
    margin-bottom: 5px;
    width: 18px;
    height: 2px;
    border-radius: 100px;
}

/* right_menu panel */
#right_menu_panel{
    position: fixed;
    display: block;
    top: 0;
    right: -700px;
    width: 340px;
    height: 100%;
    z-index: 11;
    background-color: rgba(255, 255, 255, 1);
    transition: all ease 0.6s;
    border-left: 1px solid #EFEFEF;
    text-align: center;
}
#right_menu_panel .x_btn{
    position: absolute;
    right: 40px;
    top: 20px;
    width: 30px;
    height: 30px;
    cursor: pointer;
}
#right_menu_panel .x_btn .line{
    width: 30px;
    height: 3px;
    background-color: #427f51;
    position: absolute;
    top: 13px;
    left: 0px;
}
#right_menu_panel .x_btn .line:nth-child(1){
    transform: rotate(45deg);
}
#right_menu_panel .x_btn .line:nth-child(2){
    transform: rotate(-45deg);
}
#right_menu_panel>ul{
    margin-top: 70px;
}
#right_menu_panel>ul>li{
    margin-block-start: 1em;
    margin-block-end: 1em;
    text-align: center;
}
#right_menu_panel>ul>li>a{
    display: inline-block;
    font-size: 15px;
    font-family: "S-Core Dream 4";
    list-style: 30px;
}
#right_menu_panel .title{
    font-size: Large;
    color: #427F51;
    font-weight: 600;
    margin-bottom: 15px;
}
#right_menu_panel .strong{
    font-size: Large;
    color: black;
    font-weight: 600;
    margin-bottom: 8px;
}
#right_menu_panel .contents{
    font-size: 14px;
    font-family: "S-Core Dream 3";
    line-height: 20px;
}
#right_menu_panel hr{
    margin: 20px 0;
}
#right_menu_panel ul.footer_menu{
    display: inline-block;
    margin-bottom: 10px;
    margin-top: 60px;
}
#right_menu_panel .footer_menu li{
    float: left;
    margin: 0 5px;
}
#right_menu_panel .footer_menu li a{
    font-size: 11px;
    color: #777;
    letter-spacing: 1px;
}

/* product search */
#product_search_wrapper{
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: all 0.6s;
    opacity: 0;
    visibility: hidden;
    z-index: 90;
}
#product_search{
    display: inline-block;
    position: relative;
    width: 780px;
    top: 35%;
    z-index: 92;
}
#product_search_wrapper #product_search fieldset{
    width: 100%;
    border: 0;
    position: relative;
}
#product_search_wrapper fieldset legend{
    display: none;
}
#product_search_wrapper fieldset input#keyword{
    width: 100%;
    height: 55px;
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    border: 3px solid #222;
    padding: 0;
}
#product_search_btn{
    width: 55px;
    height: 55px;
    background-color: #222;
    position: absolute;
    right: -3px;
    top: 3px;
    cursor: pointer;
}
#product_search_btn .circle{
    position: absolute;
    left: 17px;
    top: 17px;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    border: 2px solid white;
}
#product_search_btn .line{
    position: absolute;
    left: 29px;
    top: 34px;
    width: 10px;
    height: 2px;
    transform: rotate(45deg);
    background-color: white;
}
#product_search_wrapper .title{
    letter-spacing: 3px;
    font-size: 28px;
    color: white;
    margin-bottom: 40px;
    font-weight: 600;
}
#popular_keyword{
    color: white;
    font-size: 24px;
    margin-top: 20px;
}
#popular_keyword a{
    color: white;
}
#popular_keyword .line{
    display: inline-block;
    width: 1px;
    height: 10px;
    background-color: #fff;
}
#product_search_bg{
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.65);
    z-index: 91;
}
@keyframes fade_in{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
@keyframes fade_out{
    from{
        opacity: 1;
    }
    to{
        opacity: 0;
    }
}

/* menu */
ul#header_menu{
    display: block;
    width: 100%;
    min-width: 1200px;
    height: 90px;
    border-top: 1px solid #efefef;
    border-bottom: 1px solid #efefef;
    text-align: center;
}
#header_menu>li{
    display: inline-block;
    position: relative;
    height: 70px;
}
#header_menu>li>a{
    display: block;
    height: 70px;
    line-height: 70px;
    font-family: 'S-Core Dream 5';
    font-size: 17px;
    padding: 10px 30px;
    text-decoration: none;
    color: black;
    letter-spacing: 1px;
}

/* sub menu */
ul.header_sub_menu{
    display: none;
    position: absolute;
    top: 70px;
    left: 0;
    list-style-type: none;
    border-top: 2px solid black;
    z-index: 20;
}
#header_menu>li:hover .header_sub_menu{
    display: block;
}
.header_sub_menu::before{
    /* sub menu 상단의 화살표와 가로선 */
    content: "";
    display: block;
    position: absolute;
    top: -7px;
    left: 50%;
    margin-left: -7px;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid #000;
}
.header_sub_menu li{
    margin-top: 1px;
}
.header_sub_menu li a{
    display: block;
    width: 150px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    color: white;
    text-decoration: none;
    background-color: rgba(0, 0, 0, 0.6);

    font-family: 'S-Core Dream 4';
    font-size: 12px;

}
.header_sub_menu li a:hover{
    background-color: rgba(0, 0, 0, 0.8);
    color: #85D6FC;
}


/* @@@ @@@ @@@ container @@@ @@@ @@@ */
#container{
    height: 1000px;
}
/* slide */
#slide_wrapper{
    position: relative;
    width: 100%;
    min-width: 1200px;
    height: 460px;
    margin: 20px 0;
    background-color: #e5e5e5;
    z-index: 10;
}
.slide{
    position: absolute;
    float: left;
    width: 100%;
    height: 100%;
    opacity: 0;
    visibility: hidden;
    transition: all 0.7s;
    z-index: 11;
}
.slide a{
    display: block;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: auto 100%;
    background-position: center 0;
}
.slide.active{
    opacity: 1;
    visibility: visible;
}
/* slide index 버튼 */
#slide_index_btn_wrapper{
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 12;
}
.slide_index_btn{
    float: left;
    margin: 0 4px;
    width: 9px;
    height: 9px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.5);
    cursor: pointer;
    transition: all 0.35s ease;
}
.slide_index_btn:hover{
    /* test code */
    background-color: rgb(255, 179, 179)
}
.slide_index_btn.active{
    /* 표시되고 있는 slide의 버튼이 변함 */
    width: 34px;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 9px;
}
/* slide 이전, 다음 버튼 */
#slide_next_btn, #slide_prev_btn{
    position: absolute;
    width: 50px;
    height: 50px;
    cursor: pointer;
    top: 50%;
    z-index: 12;
    background-size: auto;
    background-repeat: no-repeat;
    background-position-y: center;
    border-radius: 50%;
    transition: all 1s ease;
}
#slide_next_btn:hover, #slide_prev_btn:hover{
    background-color: rgba(255, 255, 255, 0.3)
}
#slide_next_btn{
    left: 50%;
    transform: translate(550px, -50%);
    /* translate(tx, ty) */
    background-image: url(./images/btn_visual_next.gif);
    background-position-x: 60%;
}
#slide_prev_btn{
    right: 50%;
    transform: translate(-550px, -50%);
    background-image: url(./images/btn_visual_prev.gif);
    background-position-x: 40%;
}

/* @@@ @@@ @@@ footer @@@ @@@ @@@ */
#footer{
    width: 100%;
    padding: 0;
    margin: 0;
}
#footer_1{
    margin-bottom: 65px;
}
#footer_1 ul{
    text-align: center;
}
#footer_1 ul li{
    display: inline-block;
    vertical-align: bottom;
    /* display: block;
    float: left; */
    width: 33%;
    height: 197px;
    border-right: 2px solid #efefef;
}
#footer_1 ul li:last-child{
    border: none;
}
#footer_1 ul li p{
    font-family: 'Yoon® 민국';
    margin: 11px 0;
}
#footer_1 .title{
    font-size: 24px;
    font-weight: bold;
    padding-top: 13px;
}
#footer_1 .contents{
    font-size: 16px;
    line-height: 32px;
    letter-spacing: 2px;
}
#footer_1 .phone{
    color: #427F51;
    font-size: 23px;
    letter-spacing: 1px;
    font-family: 'NanumGothic';
    font-weight: 900;
}
#footer_1 .phone::before{
    content: "\260E  ";
    color: black;
}
.sns_icon{
    position: relative;
    top: 15px;
}
.sns_icon a{
    margin: 0 9px;
}
.sns_icon i{
    font-size: 20px;
}

#footer_2{
    width: 100%;
    height: 204px;
    background-color: #efefef;
}
ul#foot_menu{
    text-align: center;
    padding-top: 30px;
    margin-bottom: 35px;
}
#foot_menu li{
    display: inline-block;
    position: relative;
    padding-left: 35px;
    margin-left: 10px;
    line-height: 26px;
}
#foot_menu li a{
    font-family: "Yoon® 민국";
    color: #444;
    font-size: 13px;
    letter-spacing: 2px;
}
#foot_menu li:not(:first-child)::before{
    content: "";
    position: absolute;
    width: 1px;
    height: 13px;
    background: #ddd;
    top: 6px;
    left: 10px;
}
#footer_2{
    text-align: center;
}
#footer_2 p{
    font-size: 13px;
    letter-spacing: 2px;
    margin: 5px;
}
#footer_2 p:not(:last-child){
    font-family: "Yoon® 민국";
}

/* 
z-index 모음

10번대 : 슬라이드
#slide_wrapper : 10
.slide : 11
#slide_prev_btn, #slide_next_btn, #slide_index_btn_wrapper : 12

20번대 : 서브 메뉴
.header_sub_menu : 20

90번대 : 검색 버튼
#product_wrapper : 90
#product_search_bg : 91
#product_search : 92

*/